<!-- profile -->
<div id="profile" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Profile - About Me</h1>

<div class="row top-p">
    <div class="col-md-6 profile-l">
 		
        <!--About me-->
        <div class="title_content">
            <div class="text_content">Alfredo Ascanio</div>
            <div class="clear"></div>
        </div>

		   <ul class="about">

            <li>
                <i class="glyphicon glyphicon-user"></i>
                <label>Name</label>
                <span class="value">Alfredo Ascanio</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-calendar"></i>
                <label>Date of birth</label>
                <span class="value">September 24, 1994</span>
                <div class="clear"></div>
            </li>

            <li> 
                <i class="glyphicon glyphicon-map-marker"></i>
                <label>Adress</label>
                <span class="value">Caracas, Venezuela</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-envelope"></i>
                <label>Email</label>
                <span class="value">ascanio.alfredoa@gmail.com</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-phone"></i>
                <label>Phone</label>
                <span class="value">+58 416-4296314</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-globe"></i>
                <label>Website</label>
                <span class="value"><a href="https://alspeed09.github.io" target="_blank">alspeed09.github.io</a></span>
                <div class="clear"></div>
            </li>

        </ul>


        <p style="margin-bottom:20px">
            I really enjoy studying and learning about the world that surround us. Specially, I think that marine and other aquatic ecosystems are amazing and need to be studied and protected from human impacts and climate change. 
        </p>
        
         <p style="margin-bottom:20px">
            The more time we dedicate to comprehend these ecosystems, its interactions with the surrounding environment, organisms, and us, the faster we will be able to offer solutions that will help the world to have a sustainable and healtier development.

        </p>

    </div>
    <!-- End left-wrap -->

    <div class="col-md-6 profile-r">

        <div class="cycle-slideshow">
            <img src="images/img-profile/about_1.jpg" alt="" />
            <img src="images/img-profile/about_2.png" alt="" />
            <img src="images/img-profile/about_3.png" alt="" />
        </div>

    </div>

</div>


<!-- begin service -->
<div class="clear"></div>
<div class="row" id="services">
	<div class="col-md-12">
        <div class="title_content">
            <div class="text_content">My Services</div>
            <div class="clear"></div>
        </div>


        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-chart-line"></i></div>
                <div class="service-detail">
                    <h6>R programming &amp<br> Data Analysis</h6>
                    <p>Statistical analysis using R. Creation of functions or subrutines to analyse data. Use of graphical libraries like "ggplot2" package.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-cogs"></i></div>
                <div class="service-detail">
                    <h6>Experimental design</h6>
                    <p>Knowledge of experimental design and descriptive, inferential and predictive statistics.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-arrows-alt"></i></div>
                <div class="service-detail">
                    <h6>Spatial analysis</h6>
                    <p>Knowledge of GIS, using R, ArcGIS and the web platform ArcGIS online.</p>
                </div>
            </div>
        </div>
     </div> 
</div><!-- End Services -->

<!-- service continuation -->
<div class="clear"></div>
<div class="row" id="services">
    <div class="col-md-12">
       
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-file-alt"></i></div>
                <div class="service-detail">
                    <h6>Text mining and analysis</h6>
                    <p>Knowledge about data mining techniques and text analysis, primarily from social networks like Twitter.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-bug"></i></div>
                <div class="service-detail">
                    <h6>Fish stomachal content analysis</h6>
                    <p>Taxonomic identification of fishes, crustaceans, moluscs, and other animal or vegetal groups that can be found within a fish stomachs. Diet analysis and food web analysis.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="glyphicon glyphicon-picture"></i></div>
                <div class="service-detail">
                    <h6>Identification of Coral Reef Benthic Substrate</h6>
                    <p>Identification of corals and associated benthic organisms, both in the Caribbean sea and Pacific Ocean.</p>
                </div>
            </div>
        </div>
     </div> 
</div><!-- End Services -->

<!-- service 2 -->
<div class="clear"></div>
<div class="border-list"></div>

<div class="row">
<div class="col-md-12">
    <div class="bottom-p">
        <div class="title_content">
            <div class="text_content">Services descriptions</div>
            <div class="clear"></div>
        </div>

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapse_tabs">
                            R Programming &amp Data Analysis
                            <i class="glyphicon glyphicon-chevron-down" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i>  Since 2015 I've been working with R, making several courses and helping in data management in the Experimental Ecology Laboratory (Simón Bolívar University). Thanks to that, I've learn how to deal with a relatively large amount of data, how to build R functions and how to implement graphics and statistical analysis as needed. <i class="fa fa-quote-right"></i>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapse_tabs">
                            Experimental Design
                            <i class="glyphicon glyphicon-chevron-down" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i> I have studied and applied concepts of statistical analysis and experimental design. The critical reading of a project is an important part of science, as it is to be capable of making the right recomendations about an experiment's design or the posterior statistical analysis. <i class="fa fa-quote-right"></i>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapse_tabs">
                            Spatial Analysis
                            <i class="glyphicon glyphicon-chevron-down" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i> For the past two years I've learned how to use and build a GIS using ArcGIS. Also, I've learned how to manage spatial files, like .shp, in R to make changes and quick filters. For the past year I've been working on the development of a web map server using ArcGIS online platform for the project 
                        <a href="https://lsigma.maps.arcgis.com/apps/MapSeries/index.html?appid=d26f0605b81e4e118da98e954da43096" target = "_blank"> "Conservation of Biodiversity in the Orinoco's Oil Belt"</a>, as part of LSIGMA (Geographical Information System and Environmental Modeling Laboratory - Simón Bolívar University) <i class="fa fa-quote-right"></i>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" class="collapse_tabs">
                            Text Mining and Analysis
                            <i class="glyphicon glyphicon-chevron-down" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i> During my communitary service (a 120 hours requisite to obtain Bachelor's Degree in Venezuela), I worked for <a href="http://www.provita.org.ve/" target = "_blank"> Provita </a>, an NGO dedicated to biodiversity conservation in Venezuela. At this time I learned how to use several R tools for web scrapping, data mining and text mining. Specially I developed some R scripts adjusted to download an organize Twitter data by searched topic, subtopic, date, and geographical coordinates, as well as other parameters requested by Twitter's API. This can be replicated to other social networks like Instagram, Facebook, Tumblr, etc. <i class="fa fa-quote-right"></i>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" class="collapse_tabs">
                            Fish Stomachal Content Analysis
                            <i class="glyphicon glyphicon-chevron-down" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i> For my grade project (undergraduate thesis - requisite for Bachelor's degree), I researched if there was spacial variability associated with the diets of demersal fishes and trophic webs in the marine-estuarine region of the Orinoco's River Delta. In this project I learned how to make stomachal content analysis, how to construct food webs in R, how to make extinsion simulations on those food webs, and many other things. <i class="fa fa-quote-left"></i>  
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix" class="collapse_tabs">
                            Identification of Coral Reef Benthic Substrate
                            <i class="glyphicon glyphicon-chevron-down" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseSix" class="panel-collapse collapse">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i> For the past 8 months, we at the Experimental Ecology Laboratory have been working with reef benthic surface analysis, identifying benthic organisms like cnidarians, sponges, echinoderms, algaes, etc. These projects are being financed by the Waitt Institue. The majority of the images correspond to different caribbean reefs, from Venezuela, Barbuda, Monserrat, etc. We have also learned how to identify corals of the pacific Ocean, mainly from the Kingdom of Tonga. <i class="fa fa-quote-right"></i> 
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
<!-- end service 2 -->

<div class="clear"></div>
</div>
<!-- End .profile -->